<ion-content>
  <ion-grid class="section-pedding">
    <ion-row>
      <ion-col>
        <div class="backbar ion-margin-bottom">
          <h5 class="page-heading">
            <ion-icon (click)="back()" name="arrow-back"></ion-icon> &nbsp; Manage Time Slots
          </h5>
          <p class="content-line"> Please Select Date & Timeslots To Lock And Unlock Booking</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="section-pedding">
    <ion-row>
      <ion-col>
        <div class="shadow-box">
          <ion-item>
            <ion-label>
              <h5 class="list-title">
                <img class="ico-img" src="assets/calender.svg">&nbsp; Booking on

                <!-- <span class="ion-float-right primary"> &nbsp; Select Date </span> -->
              </h5>
            </ion-label>
            <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="slotTimeAndDate.toDate" (ionChange)="slotsStatus()"
              style="font-size: 14px;
              color: #4285f4;">
            </ion-datetime>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="ion-padding-top ion-padding-bottom">
              <h5 class="list-title ion-margin-bottom">
                <img class="ico-img" src="assets/watch.svg">&nbsp; Select Timeslot
              </h5>

            </ion-label>

          </ion-item>
          <!-- <ion-item lines="none" class="ion-margin-bottom">
            <ion-label>
  
              <ion-button class="timing-btn active-time-btn" size="small" fill="outline" color="undefine">10:00 am</ion-button>
              <ion-button class="timing-btn deactive-time-btn" size="small" fill="undefine"  color="undefine">10:30 am</ion-button>
              <ion-button class="timing-btn" size="small" fill="outline" color="primary">11:00 am</ion-button>
              <ion-button class="timing-btn" size="small" fill="outline" color="primary">11:30 am</ion-button>
              <br>
              <ion-button class="timing-btn" size="small" fill="outline" color="primary">12:00 am</ion-button>
              <ion-button class="timing-btn" size="small" fill="outline" color="primary">12:30 am</ion-button>
              <ion-button class="timing-btn" size="small" fill="outline" color="primary">01:00 am</ion-button>
              <ion-button class="timing-btn" size="small" fill="outline" color="primary">01:30 am</ion-button>
            </ion-label>
  
          </ion-item> -->
          <ion-item lines="none">
            <div style="overflow: scroll; height: 40vh;">

              <ion-row>
                <ng-container *ngFor="let slot of slotsOfRestaurant; let i = index">

                  <ion-col *ngIf="!(slot.type ==1)" size="3" (click)=" lockUnlock(i)">

                    <ion-button class="timing-btn" [fill]="(slot.isDisable)?  'solid': 'outline'" color="primary">
                      {{slot.timeSlot}}
                    </ion-button>
                  </ion-col>
                </ng-container>

              </ion-row>
            </div>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid class="section-pedding">
    <ion-row>
      <ion-col size="6">
        <ion-button class="proceed-button ion-margin-top" color="danger" expand="block" size="large">
          <ion-icon slot="icon-only" name="lock"></ion-icon>
          Lock Slots
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="proceed-button ion-margin-top" expand="block" size="large">
          <ion-icon slot="icon-only" name="unlock"></ion-icon>
          Unlock Slots
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>