
  <ion-content>
    <ion-slides options="myOptions" class="swiper-no-swiping">

  <ion-slide class="ion-padding " style=" vertical-align:top">

  <div class="image-box">
    <div class="center-box">
      <img src="assets/tik.svg" class="ion-text-center" style="height: 30px;">
      <h4 class="ion-text-center success-text bold">
        OTP Verified Successfully</h4>
    </div>
  </div>


  <ion-row>
    <ion-col class="all-content-center" style=" margin-bottom: 120px;">
      <img src="assets/welcomeToCrab.svg" class="img-logo">
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col class="ion-padding">
      <ion-button expand="block" color='undefine' (click)="goToMap()" class="full-with-btn  mt-20 transition">
        ONBOARD YOUR RESTAURANT</ion-button>
    </ion-col>

  </ion-row>
  </ion-slide>
  </ion-slides>
</ion-content>