.light-green{
    background: #B8FF72;
}
.back-orange{
    background: #FFCE4F;
}
.light-grey{
    background: #f3f2f4
}
.panel-card{
    border-radius: 21px 21px 0px 0px;
    padding: 20px;
    box-shadow: 0px -5px 33px rgba(0, 0, 0, 0.1);
    border-radius: 21px 21px 0px 0px;
    margin-top: -20px;
}
.panel-heading{
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    margin: 0;
}
.review-part{
    margin-top: 15px;
}

.dark-text{
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
  }
  .fixed-back-white{
    background: #FFFFFF;
    padding-top: 40px;
}
.back-white{
    background:#ffffff;
}
ion-avatar {

    --border-radius: 0%;
    justify-content: center;
    display: flex;
    align-items: center;
}

ion-avatar img {

    height: 18px !important;
    width: auto !important;
}

.img-top-part{
    // background: url(/assets/ba-img.png);
    width: 100%;
    height: 289px;
    background-repeat: no-repeat;
    padding: 20px 15px;
}

.right-review{
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #000000;
}
.ico-small{
    height: 14px;
}
