// profile view orange part
.top-orange-bar{
    background-color: #FFD369;
    padding: 30px 20px 60px 20px;
    position: relative;
    overflow: hidden;
}
.view-profile-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    color: #000000;
}
.review-list h4{
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin: 0;
}
.review-list span{
    font-weight: normal;
font-size: 11px;
line-height: 12px;
color: #000000;
}

.profile-icon{
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    background: #FBB040;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.blo-address{
    -webkit-box-pack: start;
    justify-content: start;
    display: -webkit-box;
    display: flex;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5) !important;
    position: inherit;
    font-weight: 400;
}
.profile-rest-img{
    position: absolute;
    top: -25px;
    right: 0;
}
.rest-charactor{
    border:1px solid red;
}
.curve{
    background: url(/assets/Subtract.svg);
    position: absolute;
    bottom: -25px;
    width: 100%;
    height: 70px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-pedding{
    padding: 12px;
}
.arrow-forword{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.3);
}
.ico-small{
    height: 12px;
}

.fixed-bottom-button {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 10px;
}
.danger {
    color: #FF4949 !important;
}
.blue-round{
    padding: 4px 8px;
    background-color: #1966FB;
    border-radius: 50%;
    color: #ffffff;
}
.crab-bootm-vector {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        margin-top: 20px;
    }