<ion-content>
  <ion-grid class="section-pedding">
    <ion-row>
      <ion-col>
        <div class="backbar ion-margin-bottom">
          <h5 class="page-heading">
            <ion-icon name="arrow-back" (click)="goToDashboard()"></ion-icon> &nbsp; Invitations
          </h5>
        </div>

        <div class="btn-list">
          <h6 [ngClass]="{'active': (filterBy ==='all')}" (click)="filterResponse('all')">All</h6>
          <h6 [ngClass]="{'active': (filterBy ==='next')}" (click)="filterResponse('next')" class="active">Upcoming</h6>
          <h6 [ngClass]="{'active': (filterBy ==='past')}" (click)="filterResponse('past')">Past</h6>
       
        </div>

        <ion-item class="ion-margin-bottom" *ngFor=" let invite of invitaionList; let i =index" (click)="presentInvitationModal(i)">
          <ion-label>
            <h5   [ngClass]="((invite.status ==3)|| (invite.status ==2))?'invi-date danger':'invi-date primary'">{{invite.toDate | date:'EEE,  d MMM ,  y'}} </h5>
            <p class="small-content">Invitation | {{invite.userDetails.name}}</p>
            <span class="right-table-part"> Table for 1 </span>
          </ion-label>
        </ion-item>

        <!-- <ion-item class="ion-margin-bottom">
          <ion-label>
            <h5 class="invi-date primary">02 Dec, 02:30 PM</h5>
            <p class="small-content">Invitation | Shubham Yadav + 5 more</p>
            <span class="right-table-part"> Table for 6 </span>
          </ion-label>
        </ion-item>

        <ion-item class="ion-margin-bottom">
            <ion-label>
              <h5 class="invi-date primary">02 Dec, 02:30 PM</h5>
              <p class="small-content">Invitation | Alisha Malhotra</p>
              <span class="right-table-part"> Table for 6 </span>
            </ion-label>
          </ion-item>

          <ion-item class="ion-margin-bottom">
              <ion-label>
                <h5 class="invi-date primary">02 Dec, 02:30 PM</h5>
                <p class="small-content">Invitation | Alisha Malhotra</p>
                <span class="right-table-part"> Table for 6 </span>
              </ion-label>
            </ion-item>

            <ion-item class="ion-margin-bottom">
                <ion-label>
                  <h5 class="invi-date primary">02 Dec, 02:30 PM</h5>
                  <p class="small-content">Invitation | Alisha Malhotra</p>
                  <span class="right-table-part"> Table for 6 </span>
                </ion-label>
              </ion-item> -->

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="fixed-bottom-button">
    <ion-row>
      <ion-col>
        <div class="crab-bootm-vector">
          <img src="assets/CRAB_Vector.svg">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>