<ion-content>
  <ion-grid class="section-pedding">
    <ion-row>
      <ion-col>
        <div class="backbar ion-margin-bottom">
          <h5 class="page-heading">
            <ion-icon name="arrow-back" (click)="goToDashboard()"></ion-icon> &nbsp; Invitations
          </h5>
        </div>

        <div class="btn-list">
          <h6 [ngClass]="{'active': (filterBy ==='all')}" (click)="filterResponse('all')">All</h6>
          <h6 [ngClass]="{'active': (filterBy ==='next')}" (click)="filterResponse('next')">Upcoming</h6>
          <h6 [ngClass]="{'active': (filterBy ==='opend')}" (click)="filterResponse('opend')">Open</h6>
          <!-- <h6 [ngClass]="{'active': (filterBy ==='past')}" (click)="filterResponse('past')">Closed</h6> -->
          <h6 [ngClass]="{'active': (filterBy ==='cancel')}" (click)="filterResponse('cancel')">Cancel</h6>
          <h6 [ngClass]="{'active': (filterBy ==='past')}" (click)="filterResponse('past')">Past</h6>

        </div>

        <ion-item class="ion-margin-bottom" *ngFor=" let invite of invitaionList; let i =index"
          (click)="presentInvitationModal(i)">
          <ion-label>
            <h5 [ngClass]="((invite.status ==3)|| (invite.status ==17))?'invi-date danger':'invi-date primary'">
              {{invite.toDate | date:'EEE,  d MMM ,  y'}} </h5>
            <p class="small-content">Invitation | {{invite.userDetails.name}}</p>
            <span class="right-table-part danger" *ngIf="((invite.status ==3)|| (invite.status ==17))"> Cancel </span>
            <span class="right-table-part orange" *ngIf="invite.status ==1"> Waiting </span>
            <span class="right-table-part danger" *ngIf="invite.status ==16"> Expired </span>
            <span class="right-table-part succes" *ngIf="invite.status ==11"> Review in Process </span>
            <span class="right-table-part primary" *ngIf="invite.status ==10"> Accepted </span>
            <span class="right-table-part primary" *ngIf="invite.status ==13"> Completed </span>
            <span class="right-table-part primary" *ngIf="invite.status ==9"> Review Requested </span>
          </ion-label>
        </ion-item>
        <ion-item class="ion-margin-bottom" *ngIf="!(invitaionList.length > 0)">
          <ion-label>
            No Invitation Found
          </ion-label>
        </ion-item>


      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid class="fixed-bottom-button">
    <ion-row>
      <ion-col>
        <div class="crab-bootm-vector">
          <img src="assets/CRAB_Vector.svg">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>