<ion-content>
  <ion-grid class="section-pedding">
    <ion-row>
      <ion-col>
        <div class="backbar ion-margin-bottom">
          <h5 class="page-heading">
            <ion-icon name="arrow-back" (click)="goToDashboard()"></ion-icon> &nbsp; Bookings
          </h5>
        </div>

        <div class="btn-list">
          <h6 [ngClass]="{'active': (filterBy ==='all')}" (click)="filterResponse('all')">All</h6>
          <h6 [ngClass]="{'active': (filterBy ==='next')}" (click)="filterResponse('next')" >Upcoming</h6>
          <h6 [ngClass]="{'active': (filterBy ==='opend')}" (click)="filterResponse('opend')">Open</h6>
          <!-- <h6 [ngClass]="{'active': (filterBy ==='past')}" (click)="filterResponse('past')">Closed</h6> -->
          <h6 [ngClass]="{'active': (filterBy ==='cancel')}" (click)="filterResponse('cancel')">Cancel</h6>
          <h6 [ngClass]="{'active': (filterBy ==='past')}" (click)="filterResponse('past')">Past</h6>
        </div>

        <ion-item *ngFor="let book of bookingList; let i = index" class="ion-margin-bottom"
          (click)="presentBookingModal(i)">
          <ion-label>
            <h5   [ngClass]="((book.status ==3)|| (book.status ==2))?'invi-date danger':'invi-date primary'">{{book.toDate | date:'EEE,  d MMM ,  y'}}</h5>
            <span class="right-table-part danger" *ngIf="((book.status ==3)|| (book.status ==17))"> Cancel </span>
            <span class="right-table-part orange" *ngIf="book.status ==1"> Waiting </span>
            <span class="right-table-part danger" *ngIf="book.status ==16"> Expired </span>
            <span class="right-table-part primary" *ngIf="book.status ==10"> Accepted </span>
            <span class="right-table-part primary" *ngIf="book.status ==7"> Completed </span>
            <span class="right-table-part primary" *ngIf="book.status ==8"> Absent </span>
            <p class="small-content">Booking | {{book.userDetails.name}} </p>
            <span class="right-table-part" style="color: rgba(0, 0, 0, 0.4);"> Table for {{book.persons}} </span>
          </ion-label>
        </ion-item>
        <ion-item class="ion-margin-bottom" *ngIf="!(bookingList.length > 0)">
          <ion-label>
            No Booking Found
          </ion-label>
        </ion-item>
        <!-- <ion-item class="ion-margin-bottom">
          <ion-label>
            <h5 class="invi-date primary">02 Dec, 02:30 PM</h5>
            <p class="small-content">Invitation | Shubham Yadav + 5 more</p>
            <span class="right-table-part"> Table for 6 </span>
          </ion-label>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-label>
            <h5 class="invi-date primary">02 Dec, 02:30 PM</h5>
            <p class="small-content">Invitation | Alisha Malhotra</p>
            <span class="right-table-part"> Table for 6 </span>
          </ion-label>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-label>
            <h5 class="invi-date primary">02 Dec, 02:30 PM</h5>
            <p class="small-content">Invitation | Alisha Malhotra</p>
            <span class="right-table-part"> Table for 6 </span>
          </ion-label>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-label>
            <h5 class="invi-date primary">02 Dec, 02:30 PM</h5>
            <p class="small-content">Invitation | Alisha Malhotra</p>
            <span class="right-table-part"> Table for 6 </span>
          </ion-label>
        </ion-item> -->

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="fixed-bottom-button">
    <ion-row>
      <ion-col>
        <!-- <div class="crab-bootm-vector">
          <img src="assets/CRAB_Vector.svg">
        </div> -->
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>