

// blogger page css

.backbar .page-heading{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: start;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    color: #0F2F54;
}
.backbar ion-icon{
    font-size: 18px;
    margin-right: 0;
    color: #0F2F54;
}
.blo-img {
    -webkit-margin-end: 15px;
    margin-inline-end: 15px;
}
.blo-img img {
    height: 65px;
    border-radius: 10px;
}
.blo-name {
    font-weight: 500 !important;
}
.small-content {
    // font-family: Roboto;
    font-style: normal;
    font-size: 12px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.4) !important;
    margin-top: 5px !important;
}

.mb-20{
    margin-bottom: 20px;
}
.section-pedding{
    padding: 12px;
}
.sc-ion-searchbar-ios-h {
    --background: rgba(var(--ion-text-color-rgb,255,255,255));
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    height: 40px;
}
.searchbar-input.sc-ion-searchbar-ios {
    font-size: 14px !important;
}
.crab-bootm-vector {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 20px;
}
.proceed-button {
    --border-radius: 5px;
    height: 7vh;
    font-size: 14px;
}
.fixed-bottom-button {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 10px;
}
