<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="backbar">
          <h5 class="page-heading">
            <ion-icon name="arrow-back" (click)="goBack()"></ion-icon> &nbsp; Manage Review
          </h5>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

          <ion-item lines="none" class="rest_address_item mtb-15">
              <div slot="start" class="rest-img">
                <img src="assets/restaurent.png">
              </div>
              <ion-label>
                <h4 class="rest-heading">Chai Sutta Bar</h4>
                <p class="small-content">Veg, Cafe & restaurent <br>
                  Navrangpura, Ahmedabad</p>
                <span class="km-part"> 3.2km &nbsp; <img src="assets/km-arrorw.svg"> </span>
              </ion-label>
            </ion-item>
            
            <div class="mtb-10 emogy-btn-list">
                <ion-button size="small" color="light" class="imogy-btn"><img src="assets/imogy-1.svg">&nbsp; Food</ion-button>
                <ion-button size="small" color="light" class="imogy-btn"><img src="assets/imogy-2.svg">&nbsp; Ambiance</ion-button>
                <ion-button size="small" color="light" class="imogy-btn"><img src="assets/imogy-3.svg">&nbsp; Service</ion-button>
                <ion-button size="small" color="light" class="imogy-btn"><img src="assets/imogy-3.svg">&nbsp; Value for money</ion-button>
              </div>      

              <ion-row>
                  <ion-col>  
                      <img class="rest-slide-img" src="assets/restaurent.png">
                  </ion-col>
                  <ion-col>
                      <img class="rest-slide-img" src="assets/restaurent.png">
                  </ion-col>
                  <ion-col>
                      <img class="rest-slide-img" src="assets/restaurent.png">
                  </ion-col>
                  <ion-col>
                      <img class="rest-slide-img" src="assets/restaurent.png">
                    </ion-col>
                </ion-row>
                

        <p class="dark-text ion-text-start">I started Deliciously Ella back in 2012 whilst I was still at university. In
          2011, I had been diagnosed with a condition called Postural Tachycardia Syndrome, as well as Ehlers-Danlos and
          Mast Cell Activation Disorder, following four months in and out of hospital. The condition</p>

        <ion-row class="mt-15 ion-float-right">
            <ion-button expand="block" shape="round" fill="outline" color="primary" class="border-btn">
              <img class="ico-small" src="assets/edit.svg">&nbsp; Edit
            </ion-button>

            <ion-button expand="block" shape="round" fill="outline" color="danger" class="border-btn ml-10">
              <img class="ico-small" src="assets/remove.svg">&nbsp; Delete
            </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="fixed-bottom-button">
      <ion-row>
        <ion-col>
          
          <div class="crab-bootm-vector">
              <img src="assets/CRAB_Vector.svg">
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

