/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


h1, h2, h3, h4, h5, h6, button, p, span{
    font-family: 'Roboto', sans-serif;
}
h6{
    line-height: 28px;
    color: var(--main-font-color);
    font-size: 16px;
    font-weight: 400;
}
p{
    line-height: 28px;
    color: var(--main-font-color);
    font-size: 18px;
}
.main-color{
    color:var(--main-font-color) !important;
}
.main-light-color{
    color:var(--light-font-color) !important;
}
ion-content {
    --background: #FBFBFD;
}

ion-item{
    --padding-start: 0px !important;
    --inner-padding-end: 0px !important;
    --border-color:rgba(0, 0, 0, 0.1);
    --background: transparent;
}
ion-input{
    --placeholder-color: #000000 !important;
    --placeholder-font-weight: 500 !important;
    --placeholder-opacity: 1 !important;
}
ion-label{
    margin: 0;
}


.km-part{
    justify-content: start;
    display: flex;
    font-size: 11px;
    float: right;
    position: relative;
    top: -18px;
    color: rgba(0, 0, 0, 0.4);
}
.km-part ion-icon{
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
}
.km-part img{
    height: 14px;
    width: auto;
}


.primary{
    color: #1966FB;
}
.pink{
    color: #DD1F91;
}
.sky-blue{
    color:#198FFB;
}
.danger{
    color:#FF4949 !important;
}
.orange{
    color: #FC810F !important;
}
.success{
    color: #0F9D58;
}
.white{
    color: #ffffff;
}


.f-18 {
    font-size: 18px;
    }
.f-16 {
        font-size: 16px;
        }
.f-14 {
            font-size: 14px;
            }
.f-12 {
     font-size: 12px;
  }
.f-10 {
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.4);
}