

// nyaz css start
.rest-img{

    margin-inline-end: 12px;
}

ion-toolbar {
    --background: #fafbfc ;
}



// arbaz css start

// profile view orange part
.top-orange-bar{
    background-color: #FFD369;
    padding: 30px 20px 60px 20px;
    position: relative;
    overflow: hidden;
}
.view-profile-text{
    font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #000000;
margin-top: 15px;
}
.profile-rest-img{
    position: absolute;
    top: -25px;
    right: 0;
}
.rest-charactor{
    border:1px solid red;
}
.curve{
    background: url(/assets/Subtract.svg);
    position: absolute;
    bottom: -25px;
    width: 100%;
    height: 70px;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}


// upcoming appointment slider part
.top-set{
    margin-top: -50px;
}
.slider-part-padding{
    padding: 25px 0px 0px 12px;
}
.slider-appointment{
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: flex;
    overflow-x: auto;
}
.title-heading{
    font-size: 15px;
    margin-bottom: 25px;
}
.colorfull-card{
    border-radius: 10px;
    padding: 0px 10px 20px 10px;
    width: 40%;
    margin-right: 15px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    z-index: 999;
}
.card-pink{
    background-color: #FF9A99;
}
.card-pink:after{
    content: "";
    position: absolute;
    top: -37px;
    right: -114px;
    height: 165px;
    width: 200px;
    border-bottom-left-radius: 85%;
    background-color: rgba(255, 180, 180, 0.65);
    z-index: -1;
}
.card-blue{
   background-color:  #4285F4;
}
.card-blue:after{
    content: "";
    position: absolute;
    top: -37px;
    right: -114px;
    height: 165px;
    width: 200px;
    border-bottom-left-radius: 85%;
    background-color: rgba(98, 153, 245, 0.65);
    z-index: -1;
}
.white{
    color: #ffffff !important;
}
.colorfull-card-view-more {
    background: #FBFBFD;
    padding:0 10px;
    width: 30%;
    margin-right: 30px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
}
.sllide-box-heading{
    font-size:20px;
    margin-bottom: 0;
}
.ico-with-title{
    justify-content: start;
    display: flex;
    font-size: 13px;
    line-height: 14px;
    position: relative;
    font-weight: 300;
    margin-bottom: -5px;
}
.mb-30{
    margin-top: 30px;
}
.mb-15 {
    margin-bottom: 15px;
}
.blo-img{
    margin-inline-end: 15px;
}
.blo-img img {
    height: 65px;
    border-radius: 10px;
}
.section-pedding{
    padding: 12px;
}

.crab-bootm-vector {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 20px;
}
.proceed-button {
    --border-radius: 5px;
    height: 7vh;
    font-size: 14px;
}
.rest-heading {
    font-weight: 500 !important;
}
.small-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 20px !important;
    font-weight: 400 !important;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 5px !important;
}






// nyaz css end

// .padding-0{
//     --padding-top: 0px !important;
//     --padding-bottom: 0px !important;
//     --padding-start: 0px !important;
//     --padding-end: 0px !important;
//     margin: 0 !important;
// }
// .prof-name{
//     font-weight: 300;
//     font-size: 21px;
//     line-height: 35px;
//     color: #000000;
//     display: flex;
//     margin-top: 0;
// }
// .prof-name ion-icon{
//     background-color: rgba(255, 255, 255, 0.3);
//     border-radius: 50%;
//     border: 1px solid transparent;
//     color: rgba(0, 0, 0, 0.3);
//     font-size: 20px;
//     padding: 5px;
// }

// .review-list h6{
//     font-weight: bold;
//     font-size: 14px;
//     color: #14542E;
//     margin: 0;
// }
// .review-list span{
//     font-weight: normal;
// font-size: 11px;
// line-height: 12px;
// color: #14542E;
// }

// .slider-appointment{
// width: 100%;
// height: auto;
// display:flex;
// overflow-x: auto;
// }

// .top-set{
//     margin-top: -50px;
// }
// .sc-ion-searchbar-ios-h {
//     --background: rgba(var(--ion-text-color-rgb,255,255,255));
//     background: #FFFFFF;
//     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
//     border-radius: 4px;
//     height: 40px;
// }
// .searchbar-input.sc-ion-searchbar-ios {
//     font-size: 14px !important;
// }
// .filter-btn{
//     background: #FFFFFF;
//     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
//     border-radius: 4px;
//     height: 40px;
//     --background: #ffffff;
//     --background-focused: #ffffff;
//     --background-hover: #ffffff;
//     --color: rgba(0, 0, 0, 0.4);
//     --color-activated: rgba(0, 0, 0, 0.4);
//     --color-focused: rgba(0, 0, 0, 0.4);
//     margin: 0;
//     font-size: 13px;
// }
// .filter-btn img{
//    height: 11px;
// }
// .profile-shadow-box{
//     background: #FBFBFD;
//     border: 0.5px dashed #FFFFFF;
//     box-shadow: 5px 5px 10px rgba(55, 84, 170, 0.1), -5px -5px 10px #FFFFFF, inset 2px 2px 5px rgba(255, 255, 255, 0.5);
//     border-radius: 10px;
//     width: 100%;
//     padding: 7px 15px;
//     margin-top: 22px;
// }
// .profile-shadow-box h1{
//     font-weight: bold;
//     display: flex;
// }
// .profile-shadow-box h1 img{
//     height: 25px;
//     width: auto;
// }
// .profile-shadow-box p{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .profile-shadow-box p img{
//     height: 20px;
//     width: auto;
// }
// .social-content{
//     font-weight: bold;
//     font-size: 12px;
//     line-height: 14px;
//     margin-top: 15px;
//     color: rgba(0, 0, 0, 0.4);
// }
// .social-content span{
//     display: flex;
//     color: #000000;
// }
// .social-content img{
//     height: 15px;
//     width: auto;
// }
// .title-heading{
//     font-size: 14px;
//     font-weight: bold;
//     margin-top: 20px;
// }
// .time-slot-box{
//     background: #FBFBFD;
//     border: 0.5px dashed #FFFFFF;
//     box-shadow: 5px 5px 10px rgba(55, 84, 170, 0.1), -5px -5px 10px #FFFFFF, inset 2px 2px 5px rgba(255, 255, 255, 0.5);
//     border-radius: 7px;
//     width: 100%;
//     padding: 7px 15px;
//     margin-top: 22px;
// }
// .list-title{
//     line-height: 27px;
//     font-weight: 400;
// }
// .ico-box{
//     background: #1966FB;
//     border-radius: 6px;
//     border: 1px solid transparent;
//     padding: 5px;
//     color: #ffffff;
//     font-size: 15px;
// }
// .img-top-part{
//     background: url(/assets/ba-img.png);
//     width: 100%;
//     height: 289px;
//     background-repeat: no-repeat;
//     padding: 20px 15px;
// }
// .back_top_part{
//     height: 130px;
//     background-repeat: no-repeat;
//     padding: 20px 15px;
// }
// .back-white{
//     background: #FFFFFF;
// }
// .fixed-back-white{
//     background: #FFFFFF;
//     padding-top: 40px;
// }
// .back-white{
//     background: #FFFFFF;
// }
// .back-orange{
//     background: #FFCE4F;
// }
// .light-green{
//     background: #B8FF72;
// }
// .panel-card{
//     border-radius: 21px 21px 0px 0px;
//     padding: 20px;
//     box-shadow: 0px -5px 33px rgba(0, 0, 0, 0.1);
//     border-radius: 21px 21px 0px 0px;
//     margin-top: -20px;
// }
// .panel-heading{
//     font-weight: bold;
//     font-size: 15px;
//     line-height: 21px;
//     display: flex;
//     align-items: center;
//     color: #000000;
//     margin: 0;
// }
// .right-review{
//     font-weight: normal;
//     font-size: 13px;
//     line-height: 16px;
//     display: flex;
//     align-items: center;
//     margin-left: auto;
//     color: #000000;
// }
// ion-thumbnail{
//     height: 60px;
//     width: 60px;
//     margin-right: 10px;
// }
// .ion-thumbnail-2{
//     height: 40px !important;
//     width: 40px !important;
//     margin-right: 10px;
// }
// .review-part{
//     margin-top: 15px;
// }
// .profile-part .profimg{
//    margin-left: auto;
//    border:1px solid transparent;
//    border-radius: 50%;
//    height: 90px;
//    width: 90px;
//    background-size: cover;
//    background-repeat: no-repeat;
// }
// .profile-part{
//     text-align: center;
//     text-align: center;
//     position: relative;
//     top: -70px;
// }
// .socia-part{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .socia-part p{
//     margin: 20px;
//     font-size: 14px;
//     line-height: 25px;
//     text-align: center;
//     color: #000000;
//     font-weight: 500;
// }
// .socia-part p img{
//     height:25px;
//     width: auto;
// }

// .scrolling-wrapper {
//     overflow-x: scroll;
//     overflow-y: hidden;
//     white-space: nowrap;
  
//     .card {
//       display: inline-block;
//     }
//   }