<ion-content class="padding-0">
  <div class="top-orange-bar">
    <ion-item lines="none" color="undefine">
      <!-- <ion-avatar slot="start">
        <img src="./avatar-han.png">
      </ion-avatar> -->
      <span *ngIf="restaurantDetails.name" class="profile-icon">{{restaurantDetails.name.slice(0,1) | uppercase}}</span>
      <ion-label>
        <h2>{{restaurantDetails.name}}</h2>
        <p *ngIf="restaurantDetails.address" class="blo-address">

          {{  (restaurantDetails.address?.locality.length>20)? (restaurantDetails.address?.locality | slice:0:20)+'..':(restaurantDetails.address?.locality)}},
          {{restaurantDetails.address?.city}}</p>
      </ion-label>
    </ion-item>
    <ion-row>
      <ion-col size="6" style="margin-top: 10px;">
        <p class="view-profile-text" (click)="presentProfileModal()">View Profile &nbsp; <ion-icon slot="start"
            name="arrow-forward"></ion-icon>
        </p>
      </ion-col>
      <ion-col size="6">
        <div class="profile-rest-img">
          <img src="assets/Dashboard_Cafe.png">
        </div>
      </ion-col>
      <div class="curve"></div>
    </ion-row>
  </div>

  <ion-grid class="slider-part-padding top-set">
    <ion-row>
      <ion-col>
        <h5 class="title-heading">Upcoming Appointments</h5>
        <div class="slider-appointment" *ngIf="commingAppointments.length > 0">
          <!-- (click)="goToAppointment('invitation')"  -->
          <div (click)="goToAppointment(Appointment)" *ngFor="let Appointment of commingAppointments; let i = index;"
            [ngClass]="(Appointment.persons)?' colorfull-card ion-margin-bottom day-active card-pink': 'colorfull-card ion-margin-bottom card-blue'">
            <h6 class="ion-text-start sllide-box-heading white">{{Appointment.toDate | date:'  d MMM y'}}</h6>
            <p class="small-content white mb-30">{{Appointment.onTime}}</p>
            <p class="ico-with-title white"><img src="assets/pass-white.svg">&nbsp;
              <ng-container *ngIf="Appointment.persons">
                Booking
              </ng-container>
              <ng-container *ngIf="!Appointment.persons">
                Invitation
              </ng-container>
            </p>
            <p class="ico-with-title white"><img src="assets/user-white.svg">&nbsp; <ng-container
                *ngIf="Appointment.persons">
                {{Appointment.persons}} people
              </ng-container>
              <ng-container *ngIf="!Appointment.persons">
                {{Appointment.userDetails.name}}
              </ng-container>
            </p>
          </div>
          <!-- (click)="goToAppointment('booked')" -->
          <!-- <div routerLink="/book" class="colorfull-card ion-margin-bottom card-pink">
            <h6 class="ion-text-start sllide-box-heading white">02 Dec</h6>
            <p class="small-content white mb-30">02:30 pm</p>
            <p class="ico-with-title white"><img src="assets/white-calendar.svg">&nbsp; Booking </p>
            <p class="ico-with-title white"><img src="assets/user-white.svg">&nbsp; 6 people </p>
          </div> -->
          <!-- (click)="goToAppointment('invitation')" -->
          <!-- <div routerLink="/invitation" class="colorfull-card ion-margin-bottom card-blue">
            <h6 class="ion-text-start sllide-box-heading white">Today</h6>
            <p class="small-content white mb-30">04:00 pm</p>
            <p class="ico-with-title white"><img src="assets/pass-white.svg">&nbsp; Invitation </p>
            <p class="ico-with-title white"><img src="assets/user-white.svg">&nbsp; Alisha Malhotra </p>
          </div> -->


        </div>
        <div class=" card-blue colorfull-card ion-margin-bottom" *ngIf="!(commingAppointments.length > 0)">
          <h6 class="ion-text-center white">No Upcomming Appointments

            <!-- <ion-badge class="ion-text-center" color="light">Book a Table</ion-badge> -->
          </h6>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="section-pedding" style="padding-top: 0;">
    <ion-toolbar>
      <ion-searchbar (click)="presentBloggerSearchModal()" placeholder="Search Restaurent"></ion-searchbar>

      <ion-buttons slot="end">
        <ion-button class="filter-btn" color="none"><img src="assets/filter.svg">&nbsp; Filter</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-row>
      <ion-col>
        <h5 class="title-heading" (click)="presentBloggerDetailsModal()">Bloggers</h5>

        <ion-item (click)="presentBloggerDetailsModal(blogger.mobile)" lines="none"
          *ngFor="let blogger of listOfBlogger" class="rest_address_item mb-15">
          <div slot="start" class="blo-img" *ngIf="((blogger.list) && (blogger.list[0].data.length > 0))">
            <img  [src]="blogger.list[0].data[0].storagePath">
          </div>
          <div slot="start" class="blo-img" *ngIf="!((blogger.list) && (blogger.list[0].data.length > 0))">
            <img  src="assets/b1.svg">
          </div>
          <ion-label>
            <h4 class="rest-heading">{{blogger.name}}</h4>
            <p>
              {{  (blogger.address?.locality.length>20)? (blogger.address?.locality | slice:0:20)+'..':(blogger.address?.locality)}},


              {{blogger.address.city}}
              <br>
              <!-- 40.2+ Followers -->
            </p>
          </ion-label>
        </ion-item>


      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>